*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;

}
html{

}

body{

}
.contents{
    display:grid;
    height: 100vh;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 5% 95% ;
    grid-template-areas: 
    "alias-header alias-header"
    "alias-section alias-program";
}

.contents.active{
    display:grid;
    height: 100vh;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 5% 90% ;
    grid-template-areas: 
    "alias-header alias-header"
    "alias-program alias-program";
}
header{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    grid-area: alias-header;
    background-image: linear-gradient(left to right);
    background-color: rgba(0,0 , 0, 0.75);
  
}
.navbar{
    

}
.navbar ul{
    display: flex;
    
}
.nav-link{
    margin-left: 10px;

}
.section{
    grid-area:alias-section;
}

.program{
    grid-area: alias-program;
    display: flex;
    padding: 30px;
    background-image: linear-gradient(blue, cyan);
    overflow: scroll;
}
.program *{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.program__column{
    width: 250px;
    border-radius: 20px;
    border: solid grey;
}
.program__column:not(:last-child){
    margin-right:20px;
}
.program__column-title{
    text-align: center;
    border: solid;
    margin-bottom:20px;
    padding: 5px 0;
    font-size: 16px;
    border-radius: 15px;
    color: white;
    user-select: none;

}
.program__item{
    display: flex;
    padding: 3px;
}
.program__add-item {
	width: 100%;
	padding: 5px ;
	font-size: 16px;
	color: white;
	background: rgba(0, 0, 0, 0.1);
	border: none;
	border-radius: 8px;
	cursor: pointer;
}

.program__item-input{
    padding:5px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(128, 128, 128, .75);
    border-radius: 10px;
    cursor: pointer;
}

.program__dropzone{
    height: 10px;
    transition: background 0.15s, height 0.15s;

}

.program__dropzone.active{
    height:20px;
    background: rgba(0,0 , 0, 0.25);
}

.delete__button{
    color: aliceblue;
    padding: 5px 2px;
    border-radius: 10px;
}

.to-do__list{
    display: flex;
}